<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>CHEESEBOARD CATERING</h1>
    <h2>Staff Login</h2>
    <p>
      <a href="/auth/sign-up">New Staff</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
</body>
</html>
