@import url('https://fonts.googleapis.com/css2?family=Rye&family=Xanh+Mono:ital@0;1&display=swap&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sedgwick+Ave&family=Smooch+Sans:wght@700&display=swap');

body {
    font-family: 'Courier Prime', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

/* public/stylesheets/style.css */

.index-body {
  background-image: url('https://plus.unsplash.com/premium_photo-1687959301516-3f1c5ab4e726?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 60vw auto;
  min-height: 100vh;
  color: hwb(0 10% 69%);
}

.main-header {
  font-family: 'Rye';
  font-weight: normal;
  color: rgb(139, 59, 59);
  font-size: 5.6em;
  margin: -160px 20px 0 20px;
}

.subheader {
    font-family: 'Rye';
  margin: 0 20px 0 20px;
  font-size: 1.4em;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content:
  height: 100%;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
  height: 100%;
}

.signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
}

.signup-link {
  background-color: #ce4866;
  color: white;
  margin: 0 0 20px 0;
}

.signup-link:hover {
  background-color: #ff5378;
}

.signin-link {
  background-color: #f6e7e7;
  color: #1c2e5b;
  margin: 20px 0 0 0;
}

.signin-link:hover {
  background-color: #ffffff;
}
