<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Cheeseboard</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Board</h1>
    <p>This is our Schema list to build a new board!</p>

    <form action="/users/<%= user._id %>/menu" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="cheeses">Cheeses:</label>
        <input type="text" name="cheeses" id="cheeses" />

        <label for="meats">Meats:</label>
        <input type="text" name="meats" id="meats" />

        <label for="veggie">Veggie:</label>
        <input type="text" name="veggie" id="veggie" />

        <label for="fruit">Fruit:</label>
        <input type="text" name="fruit" id="fruit" />

        <label for="accout">Accoutrements:</label>
        <input type="text" name="accout" id="accout" />

        <label for="jam">Jam:</label>
        <select id="jam" name="Jam">
            <option value="Fig">Fig</option>
            <option value="Apricot">Apricot</option>
            <option value="Cherry">Cherry</option>
        </select>

        <label for="chocolate">Chocolate:</label>
        <select id="chocolate" name="chocolate">
            <option value="Dark chocolate">Dark chocolate</option>
            <option value="Milk chocolate">Milk chocolate</option>
            <option value="Vegan semi-sweet">Vegan semi-sweet</option>
        </select>

        <label for="nuts">Nuts:</label>
        <select id="nuts" name="nuts">
            <option value="Pistachios">Pistachios</option>
            <option value="Marcona almonds">Marcona almonds</option>
            <option value="Candied pecans">Candied pecans</option>
        </select>

        <label for="carbs">Carb base:</label>
        <select id="carbs" name="carbs">
            <option value="Baguette">Baguette</option>
            <option value="Pretzel crackers">Pretzel crackers</option>
            <option value="Rosemary crackers">Rosemary crackers</option>
            <option value="Sourdough crackers">Sourdough crackers</option>
            <option value="Gluten-free crackers">Gluten-free crackers</option>
        </select>

        <label for="floralGarnishes">Floral Garnishes:</label>
        <input type="text" name="floralGarnishes" id="floralGarnishes" />

        <label for="winePairings">Recommended Wine Pairing:</label>
        <input type="text" name="winePairings" id="winePairings" />

        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>

        <button type="submit">Submit</button>

    </form>
</body>
</html>