<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Cheeseboard</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Board</h1>
    <p>This is our Schema list to build a new board!</p>
    <div class="body">
        <div class="form-container">
            <div class="form-container">

    <form action="/users/<%= user._id %>/menu" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <br>
        <label for="cheeses">Cheeses:</label>
        <input type="text" name="cheeses" id="cheeses" />
        <br>
        <label for="meats">Meats:</label>
        <input type="text" name="meats" id="meats" />
        <br>
        <label for="veggie">Veggie:</label>
        <input type="text" name="veggie" id="veggie" />
        <br>
        <label for="fruit">Fruit:</label>
        <input type="text" name="fruit" id="fruit" />
        <br>
        <label for="accout">Accoutrements:</label>
        <input type="text" name="accout" id="accout" />
        <br>
        <div class="dropMenus">
        <label for="jam">Jam:</label>
        <select id="jam" name="jam" id=jam">
            <option value="fig">Fig</option>
            <option value="apricot">Apricot</option>
            <option value="cherry">Cherry</option>
        </select>
        <br>
        <label for="chocolate">Chocolate:</label>
        <select id="chocolate" name="chocolate" id="chocolate">
            <option value="dark chocolate">Dark chocolate</option>
            <option value="milk chocolate">Milk chocolate</option>
            <option value="vegan semi-sweet">Vegan semi-sweet</option>
        </select>
        <br>
        <label for="nuts">Nuts:</label>
        <select id="nuts" name="nuts" id="nuts">
            <option value="pistachios">Pistachios</option>
            <option value="marcona almonds">Marcona almonds</option>
            <option value="candied pecans">Candied pecans</option>
        </select>
        <br>
        <label for="carbs">Carb base:</label>
        <select id="carbs" name="carbs" id="carbs">
            <option value="baguette">Baguette</option>
            <option value="pretzel crackers">Pretzel crackers</option>
            <option value="rosemary crackers">Rosemary crackers</option>
            <option value="sourdough crackers">Sourdough crackers</option>
            <option value="gluten-free crackers">Gluten-free crackers</option>
        </select>
        </div>
        <br>
        <label for="floralGarnishes">Floral Garnishes:</label>
        <input type="text" name="floralGarnishes" id="floralGarnishes" />
        <br>
        <label for="winePairings">Recommended <a href="https://vinovault-889b1e43da2d.herokuapp.com/shaina">Wine Pairing:</a></label>
        <input type="text" name="winePairings" id="winePairings" />
        <br>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>
        </div>

        <button type="submit">Submit</button>

    </form>
    </div>
    </div>
</body>
</html>